<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<title>Tyrant</title>
	<style>
		.container {
			width: 90%;
		}
		h4 {
			padding-left: 18px;
			padding-bottom: 10px;
		}	
		hr {
			margin-bottom: 0px;
		}
	</style>
</head>

<body>
	<div class="container" id="tyrantapp">
		
	</div>

	<!-- templates -->
	<script type="text/template" id="header-template">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li class="job"><a href="#job">Jobs</a></li>
				<li class="status"><a href="#status">Status</a></li>
			</ul>
			<h3 class="text-muted">Tyrant</h3>
			<hr/>
		</div>
	</script>

	<script type="text/template" id="status-view-template">
		<div class="row">
			<br/>
			<h4>Jobs Status</h4>
			<div class="col-md-12">
				<table class="table table-hover running">
			      <thead>
			        <tr>
			          <th>#</th>
			          <th>Job Name</th>
			          <th>Start Time</th>
			          <th>Status</th>
			          <th>Output</th>
			          <th>Executor Message</th>
			        </tr>
			      </thead>
			    </table>
			</div>
		</div>
	</script>


	<script type="text/template" id="job-view-template">
		<div class="row">
			<br/>
			<div class="col-md-8">
				<section>
					<table class="table" id="job-list">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Executor</th>
								<th>Owner</th>
								<th>Create At</th>
								<th>Last Status</th>
								<th>Last Success Time</th>
								<th>Last Task ID</th>
								<th></th>
							</tr>
						</thead>
					</table>
				</section>
			</div>
			<div class="col-md-4" id="new-job-form">
			</div>
		</div>
	</script>
	
	<script type="text/template" id="job-item-template">
		<td><%= id %></td>
		<td><%= name %></td>
		<td><%= executor %></td>
		<td><%= owner %></td>
		<td><%= TimestampToDate(create_ts) %></td>
		<% if (last_status == "TASK_FINISHED" || last_status== "TASK_RUNNING") { %>
			<td><span class="label label-success"><%= last_status %></span> </td>
		<% } else if (status == "READY") { %>
			<td><span class="label label-primary"><%= last_status %></span> </td>
		<% }  else  { %>
			<td><span class="label label-danger"><%= last_status %></span> </td>
		<% } %>

		<% if (last_success_ts > 0) { %>
		<td><%= TimestampToDate(last_success_ts) %></td>
		<% } else { %>
			<td> NEVER </td>
		<% } %>

		<% if (last_task_id) { %>
		<td><%= last_task_id %></td>
		<% } else { %>
			<td></td>
		<% } %>

		<td>
			<a href="javascript:void(0)" class="force-run-btn">Force Run</a> | 
			<a href="javascript:void(0)" class="edit-btn">Edit</a> | 
			<a href="javascript:void(0)" class="remove-btn">Remove</a>
		</td>
	</script>

	<script type="text/template" id="task-item-template">
		<td> <%= id %></td>
		<td> <%= job_name %> </td>
		<td> <%= TimestampToDate(start_ts) %> </td>
		<% if (status == "TASK_FINISHED" || status== "TASK_RUNNING") { %>
			<td><span class="label label-success"><%= status %></span> </td>
		<% } else if (status == "READY") { %>
			<td><span class="label label-primary"><%= status %></span> </td>
		<% }  else  { %>
			<td><span class="label label-danger"><%= status %></span> </td>
		<% } %>

		<% if (url) { %>
			<td><a href="<%= url %>" target="_blank"> OUTPUT </td>
		<% }  else  { %>
			<td></td>
		<% } %>

		<% if (message) { %>
			<td><%= message %></td>
		<% }  else  { %>
			<td></td>
		<% } %>
	</script>

	
	<script type="text/template" id="job-edit-template">
		<div class="form-group">
			<label>Name</label>	
			<input type="text" class="form-control name-input" value="<%= name %>"></input>
		</div>
		<div class="form-group">
			<label>Executor</label>	
			<input type="text" class="form-control executor-input" value="<%= executor %>"></input>
		</div>
		<div class="form-group">
			<label>Executor Flag</label>	
			<textarea class="form-control executor-flag-input" value="<%= executor_flags %>" rows=3></textarea>
		</div>
		<div class="form-group">
			<label>Uris</label>	
			<input type="text" class="form-control uris-input" value="<%= uris %>"></input>
		</div>
		<div class="form-group">
			<label>Schedule</label>	
			<input type="text" class="form-control schedule-input" value="<%= schedule %>"></input>
		</div>
		<div class="form-group">
			<label>Owner</label>	
			<input type="text" class="form-control owner-input" value="<%= owner %>"></input>
		</div>
		<button class="btn btn-primary btn-save"> Save </button>
	</script>
	<!-- end of templates -->

	<script src="components/jquery/jquery.js"></script>
	<script src="components/underscore/underscore.js"></script>
	<script src="components/backbone/backbone.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="components/backbone/backbone.bootstrap-modal.js"></script>


	<script src="utils.js"></script>
	<script src="js/models/job.js"></script>
	<script src="js/models/task.js"></script>
	<script src="js/collections/jobs.js"></script>
	<script src="js/collections/tasks.js"></script>
	<script src="js/views/app-view.js"></script>
	<script src="js/app.js"></script>
	<script src="js/routers/router.js"></script>

</body>

</html>